    <%- include('partials/header.ejs') %>

        <div class="container">
            <div id="discoverFeed" class="d-flex flex-column align-items-center">

            </div>
        </div>
        <script src='/scripts/discover.js'></script>
    <%- include('partials/footer.ejs') %>
