    <%- include('partials/header.ejs') %>
    <div class="container">
        <h1 class="display-1 text-light text-center" >Inbox</h1>
        <div id="questionsCont" class="my-4 d-flex flex-column align-items-center">

        </div>
    </div>

        <script src="scripts/inbox.js"></script>
    <%- include('partials/footer.ejs') %>
